.table {
    margin-top: 20px;
    height: 360px;
    overflow: scroll;
    color: #6a5d5d;
    /* background-color: white; */
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    line-height: 30px;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f1f8;
}